#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.w-40 {
  width: 40%;
}

header {
  z-index: 1030;
}

.shadow-custom {
  box-shadow: 0px 0px 5px black;
}

.box-fade-dark {
  background-color: #212529ef;
  border-radius: 10px;
  padding: 0.5rem;
}

.bg-dark-fade {
  background-color: #212529ef;
}

.bg-light-fade {
  background-color: #ffffffde;
}

.pointer {
  cursor: pointer;
}

main {
  padding-top: 80px;
}

.card-title-top {
  position: relative;
  bottom: 1rem;
}

.caption-custom {
  position: relative;
  bottom: 1.5rem;
}

.inset-box{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 5px inset grey;
    padding: 10px;
}

.h-0 {
  height: 0;
}

.footer-logo{
  width: 100px
}

.list-no-style {
  list-style-type: none;
}

/* Animations */

.fadeIn {
  animation: fadeIn 5s;
  overflow: hidden;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}