/* Nav List */
.nav-list-custom {
  list-style: none;
  height: 100%;
}

.nav-list-custom-item {
  height: 100%;
}

.nav-list-custom-item a {
  color: black;
}

.nav-list-custom-item:hover {
  transition: all 1s;
  background-color: black;
  box-shadow: 0px 0px 5px black;
}

.nav-list-custom-item:hover a {
  transition: all 1s;
  color: white !important;
  font-size: large;
}

.slide-down {
  animation-duration: 1s;
  overflow: hidden;
  animation-name: slideDown;
}

@keyframes slideDown {
  from {
    max-height: 0px;
  }

  to {
    max-height: 250px;
  }
}

/* Logo */

.main-logo {
  width: 100px;
}
